@import "~primereact/resources/primereact.min.css"
@import "~primereact/resources/themes/vela-orange/theme.css"
@import "~primeicons/primeicons.css"
@import "~primeflex/primeflex.min.css"

body
  background-color: #191919
  color: rgba(255, 255, 255, 0.87)

a
  color: white
  text-decoration: none

h1, h2, h3, h4, h5, h6
  margin: 0

.container
  max-width: 1180px
  margin: 0 auto

.header
  padding: 25px 0
  border-bottom: 1px solid #f2f2f2

  &__logo
    font-size: 22px
    font-weight: bold

  &__search
    width: 100%


.search__input
  width: 100%

.content
  padding: 25px 0

  &__items
    padding: 0 25px

.filters
  border: 1px solid #f2f2f2
  padding: 15px 15px

  &__title
    font-weight: bold
    margin-bottom: 10px

.p-card
  &-title
    font-size: 18px !important

  &-footer
    & button
      width: 100%
